body {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: rgb(137, 211, 228);
    background-color: black;
    font-size: 4vh;
    display: flexbox;
    /* Most things are considered text so use text align to start and then try
     *  other things if that does not work*/
    text-align: center;
}

button {
    background-color: antiquewhite;
    font-size: 2vh;
    font-family: "Fira Code", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    margin-top: 40px;
    border: none;
    border-radius: 15px;
}

#score_text {
    font-size: 6vw;
    border: style;
    border-radius: 20px;
    border-width: 100px;
}

.line_style {
    border: solid;
    border-radius: 20px;
    border-width: 10px;
    width: 80vw;
}

#score_con {
    display: flex;
    justify-content: center;

}

.scoreboard {
    border-radius: 20px;
    margin: 3vw;
    border: solid;
    border-width: 10px;
    max-width: fit-content;
    padding-left: 5vw;
    padding-right: 5vw;
    
    /* background-color: red; */
}

